/* You can add global styles to this file, and also import other style files */
.type-ahead-badge {
    margin-right: 5px;
    margin-bottom: 5px;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
